
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}



//header

#header {
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: skyblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//AppHeader.vue Header

#header h1 {
    font-weight: 700;
    font-size: 1.5rem;
}

#header h1 a {
    color: #000;
}

#header .shop-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .shop-list li {
    margin-left: 13px;
}

#header .shop-list li a {
    padding: 10px;
    background: linear-gradient(90deg, rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0));
    color: #000;
    border-radius: 4px;
}

#header .shop-list li a:hover {
    background: linear-gradient(90deg, rgba(150, 138, 138, 0.7), rgb(255, 255, 255, 0));
    color: #FFF;
    transition: all 0.5s;
}

#header .shop-list li a:active {
    background: linear-gradient(90deg, rgb(0, 0, 0, 0.7), rgb(255, 255, 255, 0));
    color: #FFF;
    transition: all 0.5s;
}

#header .shop-list li .short-info {
    display: none;
}

#header .shop-list li:active .short-info {
    display: block;
    animation-name: fadeshowAnime;
    animation-duration: 7s;
    opacity: 0;
    transition: 7s;
}

@keyframes fadeshowAnime {
    from {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.o-about {
    margin-top: 1500px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.o-about {
    &.-intersecting {
        animation: fadeIn 0.5s ease-in-out both;
    }
}


// Navbar.vue HeaderNavbar

nav .shop-list {
    position: absolute;
    right: 0;
    display: inline-block;
    height: 100vh;
    padding-top: 50px;
    flex-direction: column;
    padding-right: 40px;
    text-align: right;
    background-color: rgb(0, 0, 0, 0.7);
}

nav .shop-list li:first-child {
    margin-top: 100px;
}

nav .shop-list li {
    margin-bottom: 100px;
}
  
/*nav .shop-list li .shousai {
    display: none;
}

nav .shop-list li:hover .shousai {
    display: block;
    transition: 1.2s;
}

nav .shop-list li:active .shousai {
    display: block;
} */


// pagesin/chander.vue main


.contents {
    padding: 0 20px;
    margin: 60px auto;
}

.contents .contents-title {
    padding: 10px;
    font-weight: 800;
    text-indent: 1rem;
    margin-bottom: 10px;
}

.contents .sub-title {
    font-weight: 600;
    display: inline-block;
    margin-left: 50px;
    padding: 4px;
    border-bottom: solid 1px #000;
    margin-bottom: 10px;
}

.contents .list {
    display: flex;
    background-color: #ddd;
    padding-left: 10px;
    margin-left: 20px;
    border-radius: 7px;
    margin-bottom: 15px;
    position: sticky;
    top: 70px;
}

.contents .list li {
    margin: 8px 0;
}

.contents .list li:first-child {
    margin-left: 4px;
    border-right: solid 2px #999;
}

.contents .list li a {
    display: inline-block;
    color: #000;
    padding: 13px;
    border-radius: 5px;
}

.contents .list li a:hover {
    background-color: rgb(32, 173, 255, 0.7);
    color: #FFF;
    transition: all 0.5s;
}

.contents .list li a:active {
    background-color: rgb(255, 255, 0, 0.7);
    color: #000;
    transition: all 0.5s;
}

.contents .img {
    width: 80%;
    margin: 0 auto 60px auto;
}

.contents .img img {
    border-radius: 25px;
    box-shadow: -3px -3px 5px #999;
}