
//header

#header {
    position: sticky;
    top: 0;
}

//AppHeader.vue Header

#header-top {
    padding: 10px;
    background-color: #b0c4de;
}

#header-top h1 {
    font-size: 2rem;
    margin-left: 3px;
}

#header-top h1 .home-link {
    color: #000;
    text-decoration: none;
}


// Navbar.vue HeaderNavbar

.navbar .down-menu-background {
    border: none;
    background-color: #808080;
}

.navbar .move-link {
    position: relative;
    left: 0;
    color: #FFF;
    transition: 0.5s;
    border-radius: 5px;
}

.navbar .move-link:hover {
    position: relative;
    left: -10px;
    color: #FFF;
    background-color: rgb(39, 132, 255);
}

.navbar .move-link:active {
    position: relative;
    left: -10px;
    color: #888;
    background-color: rgba(39, 132, 255);
}


// index.vue main

img {
    max-width: 100%
}

#main {
    background-image: url("../images/background-pc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600vh;
    text-align: center;
}

#main h2 {
    font-size: 1.3rem;
    padding: 30px;
    margin-bottom: 200px;
}

#main .img {
    margin-bottom: 60px;
}

/*
// index.vue main scroll-in

#main #kansen1 .img-wrap {
    position: relative;
    top: 40%;
    height: 40%;
    width: 1px;
    overflow: hidden;
    opacity: 0;
}

#main #kansen1 .img-wrap .active {
    width: 40vw;
    opacity: 1;
    transition: opacity 0.8s, width 1.3s;
}

#main #kansen1 .img-wrap .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.6);
}

#main #kansen1 .img-wrap .active > .img {
    transform: scale(1);
    transition: 1s ease-out;
} */


@media screen and (max-width: 770px) {
    #main {
        background-image: url("../images/background-ph.jpg");
    }
}
