


ul {
    list-style: none;
}




//header

#header {
    position: sticky;
    top: 0;
    z-index: 3;
}

//AppHeader.vue Header

#header-top {
    padding: 10px;
    background-color: #b0c4de;
}

#header-top h1 {
    font-size: 2rem;
    margin-left: 3px;
}

#header-top h1 .home-link {
    color: #000;
    text-decoration: none;
}


// Navbar.vue HeaderNavbar

nav .shop-list {
    position: absolute;
    right: 0;
    display: inline-block;
    height: 100vh;
    padding-top: 50px;
    flex-direction: column;
    padding-right: 40px;
    text-align: right;
    background-color: rgb(0, 0, 0, 0.7);
}

nav .shop-list li:first-child {
    margin-top: 100px;
}

nav .shop-list li {
    margin-bottom: 100px;
}
  
/*nav .shop-list li .shousai {
    display: none;
}

nav .shop-list li:hover .shousai {
    display: block;
    transition: 1.2s;
}

nav .shop-list li:active .shousai {
    display: block;
} */


// pagesin/chander.vue main

.contents {
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}
