


// Navbar

.navbar .down-menu-background {
    border: none;
    background-color: #808080;
}

.navbar .move-link {
    position: relative;
    left: 0;
    color: #FFF;
    transition: 0.5s;
    border-radius: 5px;
}

.navbar .move-link:hover {
    position: relative;
    left: -10px;
    color: #FFF;
    background-color: rgba(252, 135, 135, 1);
}

.navbar .move-link:active {
    position: relative;
    left: -10px;
    color: #888;
    background-color: rgba(252, 135, 135, 1);
}