


//pages Header

#header-top {
    padding: 10px;
    background-color: #b0c4de;
}

#header-top h1 {
    font-size: 2rem;
    margin-left: 3px;
}

#header-top h1 .home-link {
    color: #000;
    text-decoration: none;
}


// Navbar.vue HeaderNavbar

.navbar .down-menu-background {
    border: none;
    background-color: #808080;
}

.navbar .move-link {
    position: relative;
    left: 0;
    color: #FFF;
    transition: 0.5s;
    border-radius: 5px;
}

.navbar .move-link:hover {
    position: relative;
    left: -10px;
    color: #FFF;
    background-color: rgb(39, 132, 255);
}

.navbar .move-link:active {
    position: relative;
    left: -10px;
    color: #888;
    background-color: rgba(39, 132, 255);
}